body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 10px;
    
}
hr{
    border: 1px solid #D1D1D1;
}

/*-------------------------------top player style*/
.top-player{
    margin-bottom: 30px;
}

.section-title{
    color: rgb(107, 98, 230);
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;

}
.player img{
    height: 56px;
    width: 56px;
    
}
.player-name{
    margin: 20px;
    font-size: 18px;
}

/*----------------------top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 104px
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: rgb(144, 124, 199);
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;

}

/* courses styles----------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:24px;
}


.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display:flex;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: rgb(255, 115, 0);

}
.fa-star-empty{
    color: #e7e5e5
}
.course-duration{
    padding-left: 20px;
}